@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color:black !important;
  
}
nav{
  background-color: whitesmoke !important;
}
.brand-logo{
  font-family: 'Grand Hotel', cursive;
}
h2{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8,93,252) !important;
  box-shadow: 0 1px 0 0 rgb(8,93,252) !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8,93,252) !important;
  box-shadow: 0 1px 0 0 rgb(8,93,252) !important;
}
.gallery{
  display: flex;
  flex-wrap : wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}
.home{
  margin:26px auto;
}

#card{
  width:500px !important;
  height:max-content !important;
  margin:26px auto;
}

#toast-container{
  top:30px  !important;
  right:20px !important;
  left:auto !important;

}
.material-icons:hover{
  cursor: pointer;
  
}
.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

